package components

templ NotFound(s string) {
	<div class="not-found">
		<div class="not-found--content">
			<h3>Search result for [{ s }] not found - <strong>Error 404</strong></h3>
			<button
				hx-trigger="click"
				hx-get="/refresh"
				hx-target=".not-found"
				hx-swap="outerHTML"
				class="button back-button"
			>
				Go to Home Page
			</button>
		</div>
	</div>
}
