package components

import "github.com/RexKizzy22/goth-demo/model"

templ TableRow(row model.Row) {
	<div class="row">
		<div class="row-item date">{ row.Date }</div>
		<div class="row-item open">{ row.Open }</div>
		<div class="row-item high">{ row.High }</div>
		<div class="row-item low">{ row.Low }</div>
		<div class="row-item close">{ row.Close }</div>
		<div class="row-item volume">{ row.Volume }</div>
		<div class="row-item adjClose">{ row.AdjClose }</div>
	</div>
}
